h3   { color: #0074a3; margin-top: 5px; margin-bottom: 5px }
td.setting_name   { color: #1b6689; font-weight: bold; padding-left: 8px }
label    { margin-right: 8px; margin-left: 2px }

/* @ Help */
table.helptable   { background-color: #6b8eae }
table.helptable th   { color: #fafffe }
table.helptable td   { background-color: #fafffe }
table.helptable td.token      { color: #8b474d; font-family: courier; font-weight: bold; background-color: #f1f8fd }